.Footer {
    margin-top: 70px;
    height: 35px;
    background-image: linear-gradient(to bottom right, #11249f, #3383cd);
    text-align: center;
    padding-top: 10px ;
}
.Footer a {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    color: white;
    text-decoration: none;
}
.Footer p {
    font-size: 9px;
    font-family: "Montserrat", sans-serif;
    color: white;
}
.Footer a:hover {
    color: #3383cd;
}